	<p>
		<strong>Autor:</strong><%= comment.commenter %>
	</p>
	<p>
		<strong>Comentario:</strong><%= comment.body %>
	</p>
    <p>
		<%= link_to 'Borrar comentario', [comment.article, comment],
			method: :delete, data: {confirm: 'Quieres eliminar el comentario?' } %>
	</p>